@import url("https://use.typekit.net/awq2ioh.css");
/* Variables */
:root {
  --Meadow-Haze: #72C6A4;
  --Frech-Mint: #8DECBC;
  --Turquoise-Tango: #73C7C2;
  --Coastal-Blue: #73B1C7;
  --Charoal: #242526;
  --Porcelean: #F2F2F2;
  --Gradient: linear-gradient(45deg, #8DECBC, #73C7C2);
  --White: #FFFFFF;
  --Red: #F27C7C;
  --LightGrey: #E7E7E7;
  --Transparent-Overlay: rgba(0, 0, 0, 0.5);
  --Box-Shadow: rgb(183, 183, 183) 0px 4px 4px 0px;
}

/* Custom Fonts */
.bold {
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
}

.bold_h1{
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
}

.light {
  font-family: "elza", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

h1{
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 0;
}

h2{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

h3{
  font-family: "elza", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

h4{
  font-family: "elza", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

h5{
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}

.elza_p {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.placeholder {
  font-family: "elza", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}

.nav_light {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
}

.nav_select{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.elza_20_bold, button{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.elza_16_bold{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.link {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

/* Basic elements */
.container{
  margin: 0 8em;
}

body {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  background-color: var(--Porcelean);
  color: var(--Charoal);
}

a {
  text-decoration: none;
  color: var(--Charoal);
}

a:visited {
  color: var(--Charoal);
}

input{
  width: 450px;
  height: 20px;
  color: var(--LightGrey);
  background: rgb(227, 226, 226);
  border-radius: 10px;
  border: none;
  font-family: "elza", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  padding: 8px 10px;
}

.sec_button{
  min-width: 154px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--Charoal);
  background-color: var(--White);
  border: none;
  box-shadow: var(--Box-Shadow);
;}

.pri_button{
  min-width: 154px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--White);
  background-color: var(--Meadow-Haze);
  border: none;
  box-shadow: var(--Box-Shadow);
}

.gradient_button{
  font-size: 24px !important;
  min-width: 480px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--White);
  background: linear-gradient(45deg, #8DECBC, #73C7C2) !important;
  border: none;
  box-shadow: var(--Box-Shadow);
}

.pri_button_header{
  min-width: 245px;
  min-height: 90px;
  border-radius: 80px;
  color: var(--White);
  background: linear-gradient(45deg, #8DECBC, #73C7C2) !important;
  border: none;
  box-shadow: var(--Box-Shadow);
  font-size: 30px;
}

.sec_button_header{
  min-width: 245px;
  min-height: 90px;
  border-radius: 80px;
  color: var(--Charoal);
  background-color: var(--White);
  border: none;
  box-shadow: var(--Box-Shadow);
  font-size: 30px;
;}

.grey_button{
  min-width: 154px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--Charoal);
  background-color: var(--LightGrey);
  border: none;
  box-shadow: var(--Box-Shadow);
}

button:hover {
  cursor: pointer;
  filter: brightness(95%);
}


/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 8em;
  margin: 0 2em;
  margin-bottom: 3em;
}

#nav_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#nav_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22%;

}

ul li {
  list-style-type: none;
}

/* Header Home Page */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card_header {
  background-color: var(--White);
  padding: 3em;
  padding-bottom: 5em;
  min-height: 20em;
  border-radius: 0 25px 25px 25px ;
}

header img {
  max-width: 40em;
}

.logo {
  width: 8em;
}

.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

/* Succesverhaal */
.succesverhaal {
  background-image: url("./images/Succesverhaal.png");
  background-size: cover;
  filter: brightness(90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 25rem;
  padding: 1em;
  margin-right: 1em;
}

.succesverhaal h2,h4 {
  color: var(--White);
  margin: 0;
  z-index: 10;
}

.scroll_container {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.card_container {
  margin: 4em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_container div {
  width: 30%;
}

.card_container div:first-child {
  margin-right: 2em;
} 

.card_container div div {
  width: 75%;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 30vw;
  background-color: var(--Porcelean);
  border-radius: 35px 35px 0px 35px;
  box-shadow: var(--Box-Shadow);
  margin: auto;
}

.login h2, .login p {
  width: 28vw;
}

.login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100%;
}

.login form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.login form div input {
  width: 28vw;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: var(--LightGrey);
  margin: 1vh 0 1vh 0;
}

.login .submit{
  width: 28vw;
  height: 50px;
  background-color: var(--Meadow-Haze);
  border: none;
  border-radius: 25px;
}

.login .wrongPass{
  color: var(--Red);
}

/* Coaching traject card */

.coaching_traject {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: var(--White);
  padding: 1em 1em 1em 1em;
  border-radius: 30px 30px 0px 30px;
}

.coaching_traject h3, .coaching_traject p {
  margin: 0 0 0 0;
  padding: 0.5vh 0 0.5vh 0;
}

.coaching_traject img.photo {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  margin-right: 1em;
}

.coaching_traject div.cardInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.membersInfo, .sessionInfo, .progress{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress progress{
  margin: 0 1em 0 1em;
}

/* Footer */

.footer_container{
  background-color: white;
  padding: 1em 8em;
}

.mini_logo {
  height: 5em;
}

.rights_block {
  width: 35%;
}

.footer_nav {
  width: 65%;
  justify-content: center;
}

.footer_container, .footer_nav {
  display: flex;
  flex-direction: row;
}

.footer_nav div ul {
  margin-left: 25px;
}

/* Register */
.register_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8em;
}

.register_container div {
  width: 70%;
}

div.title_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 70%;
}

/* Profile */
.profile_container {
  display: flex;
  flex-direction: column;
  margin: 0 15em;
  background-color: var(--White);
  width: 70%;
  border-radius: 25px;
  box-shadow: var(--Box-Shadow);
  min-height: 10em;
}

