@import url("https://use.typekit.net/awq2ioh.css");
/* Variables */
:root {
  --Meadow-Haze: #72C6A4;
  --Frech-Mint: #8DECBC;
  --Turquoise-Tango: #73C7C2;
  --Coastal-Blue: #73B1C7;
  --Charoal: #242526;
  --Porcelean: #F2F2F2;
  --Gradient: linear-gradient(45deg, #8DECBC, #73C7C2);
  --White: #FFFFFF;
  --Red: #F27C7C;
  --LightGrey: #E7E7E7;
  --Transparent-Overlay: rgba(0, 0, 0, 0.5);
  --Box-Shadow: rgb(183, 183, 183) 0px 4px 4px 0px
}

/* Custom Fonts */
.bold {
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 70px;
}

.bold_h1{
  font-family: "elza", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
}

.light {
  font-family: "elza", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 14px;
}

h1{
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  margin: 0;
}

h2{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
}

h3{
  font-family: "elza", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
}

h4{
  font-family: "elza", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

h5{
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}

.elza_p {
  font-family: "elza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.elza_b {
  font-family: "elza", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.placeholder {
  font-family: "elza", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}

.nav_light {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
}

.nav_select{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.elza_20_bold, button{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.elza_16_bold{
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}

.link {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

/* Basic elements */
.container{
  margin: 0 8em;
}

body {
  font-family: "elza", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  background-color: var(--Porcelean);
  color: var(--Charoal);
}

.row div div img{
  max-width: 22em;

}

a {
  text-decoration: none;
  color: var(--Charoal);
}

a:visited {
  color: var(--Charoal);
}

input, textarea{
  color: var(--Charoal);
  background: rgb(227, 226, 226);
  border-radius: 10px;
  border: none;
  font-family: "elza", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
  padding: 8px 10px;
  width: auto;
  resize: none;
}

header{
  width: 80%;
  margin: auto;
}

/* Modular classes */

.sec_button{
  min-width: 154px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--Charoal);
  background-color: var(--White);
  border: none;
  box-shadow: var(--Box-Shadow);
;}

.pri_button{
  min-width: 154px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--White);
  background-color: var(--Meadow-Haze);
  border: none;
  box-shadow: var(--Box-Shadow);
}

.gradient_button{
  font-size: 24px !important;
  min-width: 480px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--White);
  background: linear-gradient(45deg, #8DECBC, #73C7C2) !important;
  border: none;
  box-shadow: var(--Box-Shadow);
}

.pri_button_header{
  min-width: 245px;
  min-height: 90px;
  border-radius: 80px;
  color: var(--White);
  background: linear-gradient(45deg, #8DECBC, #73C7C2) !important;
  border: none;
  box-shadow: var(--Box-Shadow);
  font-size: 30px;
}

.sec_button_header{
  min-width: 245px;
  min-height: 90px;
  border-radius: 80px;
  color: var(--Charoal);
  background-color: var(--White);
  border: none;
  box-shadow: var(--Box-Shadow);
  font-size: 30px;
;}

.grey_button{
  min-width: 154px;
  min-height: 56px;
  border-radius: 25px;
  color: var(--Charoal);
  background-color: var(--LightGrey);
  border: none;
  box-shadow: var(--Box-Shadow);
  padding-top: 5px;
}

button:hover, .likeBtn:hover, .commentBtn:hover, .moreBtn:hover{
  cursor: pointer;
  filter: brightness(95%);
}

.overlay{
  backdrop-filter: blur(10px);
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/* flex */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Box sizes */

.fitContent {
  width: fit-content;
  height: fit-content;
}

.screen {
  width: 100%;
  height: 100%;
}

.wideMainBox {
  width: 40%;
}

.narrowMainBox {
  width: 30%;
}

/* icons and images */
.tinyIcon {
  width: 1.5em;
  height: 1.5em;
}

.tinyImage {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border-radius: 100%;
}

.smallIcon {
  width: 2em;
  height: 2em;
}

.smallImage {
  width: 5em;
  height: 5em;
  object-fit: cover;
}

.mediumIcon {
  width: 3em;
  height: 3em;
}

.mediumImage {
  width: 8em;
  height: 8em;
  object-fit: cover;
}

.largeIcon {
  width: 4em;
  height: 4em;
}

.largeImage {
  width: 10em;
  height: 10em;
  object-fit: cover;
}

.boxShadow {
  box-shadow: var(--Box-Shadow);
}

/* titles */
.row {
  display: flex;
  flex-direction: row;
}

.profile_box {
  padding: 1em 2em;
}

.bubble li {
  margin-right: 15px;
  padding: 6px 10px;
  border: 1px solid var(--Meadow-Haze);
  color: var(--Meadow-Haze);
  box-shadow: var(--Box-Shadow);
  border-radius: 25px;
}

.alignCenter {
  align-items: center;
}

.marginRight {
  margin-right: 1em;
}

.marginTopZero {
  margin-top: 0;
}

/* .mini_logo {
  border-radius: 50px;
  object-fit: cover;
  height: 80px;
  width: 80px;
} */
.pageTitle{
  /* margin: 0 0 2vh 10vw; */
}



/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 8em;
  margin: 0 2em;
  margin-bottom: 3em;
}

#nav_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#nav_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 22%;

}

ul li {
  list-style-type: none;
}

/* Header Home Page */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card_header {
  background-color: var(--White);
  padding: 3em;
  padding-bottom: 5em;
  min-height: 20em;
  border-radius: 0 25px 25px 25px ;
}

header img {
  max-width: 40em;
}

.logo {
  width: 8em;
}

.header_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

/* Succesverhaal */
.succesverhaal {
  background-image: url("./images/Succesverhaal.png");
  background-size: cover;
  filter: brightness(90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25rem;
  height: 25rem;
  padding: 1em;
  margin-right: 1em;
}

.succesverhaal h2, .succesverhaal h4 {
  color: var(--White);
  margin: 0;
  z-index: 10;
}

.scroll_container {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.card_container {
  margin: 4em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card_container div {
  width: 30%;
}

.card_container div:first-child {
  margin-right: 2em;
} 

.card_container div div {
  width: 75%;
}

/* Login */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 30vw;
  background-color: var(--White);
  border-radius: 35px 35px 0px 35px;
  box-shadow: var(--Box-Shadow);
  margin: auto;
}

.login h2, .login p {
  width: 28vw;
}

.login form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login form div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.login form div input {
  width: 28vw;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: var(--LightGrey);
  margin: 1vh 0 1vh 0;
}

.login .submit{
  width: 28vw;
  height: 3em;
  background-color: var(--Meadow-Haze);
  border: none;
  border-radius: 3em;
  margin: 1vh 0 1vh 0;
}

.login .wrongPass{
  color: var(--Red);
}

/* Coaching Class card */

.coaching_Class {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--White);
  padding: 1em 1em 1em 1em;
  border-radius: 30px 30px 0px 30px;
}

.coaching_Class h3, .coaching_Class p {
  margin: 0 0 0 0;
  padding: 0.5vh 0 0.5vh 0;
  text-wrap: auto;
}

.coaching_Class img.photo {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  margin-right: 1em;
}

.coaching_Class div.cardInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 52%;
}

.membersInfo, .sessionInfo, .progress{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress progress{
  margin: 0 1em 0 1em;
}

/* Session card */

.sessionCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--White);
  border-radius: 30px 30px 0px 30px;
  padding: 1em;
  max-width: 100%;
}

.sessionCard:hover{
  cursor: pointer;
  filter: brightness(98%);
}

.sessionCard *{
  margin: 0 0 0.5em 0;
}

.sessionCard *:nth-last-child(1){
  margin: 0;
}

.completed {
  opacity: 0.5;
  order: 100;
  pointer-events: none;
}

/* coaching dashboard */

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 1em;
}

.myClassList {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  gap: 1em;
}

.myCoachUpdates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  width: 60vw;
  height: auto;
}

.myCoachUpdates .listItem{
  max-height: fit-content;
}

/* post item */

.postItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  border-radius: 30px 30px 0px 30px;
  padding: 1em;
}

.postItem .topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.postItem .topBar .posterInfo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.postItem .topBar .posterInfo img{
  width: 3em;
  height: 3em;
  border-radius: 100%;
  margin-right: 1em;
}

.postItem .mainContent{
  text-align: left;
  width: 100%;
}

.postItem .bottomBar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.postItem .bottomBar .likeBtn,
.postItem .bottomBar .commentBtn,
.postItem .bottomBar .moreBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Meadow-Haze);
  border-radius: 5em;
  padding: 4px 8px 4px 8px;
}

.postItem .bottomBar .likeBtn img, 
.postItem .bottomBar .commentBtn img,
.postItem .bottomBar .moreBtn img{
  width: 1.5em;
  margin: 0.2em 0.2em 0.2em 0.5em;
  fill: var(--Porcelean);
}

.postItem .bottomBar .likeBtn p,
.postItem .bottomBar .commentBtn p,
.postItem .bottomBar .moreBtn p{
  margin: 0 0.7em 0 0;
  color: var(--Porcelean);
}

/* Post comment */

.postComment{
  background-color: var(--LightGrey);
  border-radius: 0px 30px 30px 30px;
  padding: 0.5em;
  gap: 1em;
  margin: 0 0 1em 0;
}

.inputComment{
  gap: 1em;
  margin: 0 0 1em 0;
}

.inputComment button{
  background: var(--Gradient);
  border: none;
  height: 48px;
  width: 128px;
  border-radius: 25px;
}

.commentBox{
  border-radius: 30px 30px 30px 0px;
  background-color: var(--LightGrey);
  width: 100%;
  height: 3em;
  box-sizing: border-box; 
}

/* Create post */

.createBtn{
  background-color: var(--Coastal-Blue);
  color: var(--Porcelean);
  border-radius: 30px;
  border-radius: 3em;
  border: none;
  height: 2em;
  padding: 0em 1em 0em 1em;
}

.createPost{
  background-color: var(--White);
  border-radius: 30px 30px 0px 30px;
  gap: 2em;
  padding: 1em 0 1em 0;
}

.createPost div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
}

.createPost div .titleBox, .createPost div .contentBox, .createPost div .dateTime{
  width: 94%;
}
.createPost div .contentBox{
  height: 10em;
}

.createPost .buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.createPost .buttons button{
  width: 10vw;
  height: 3em;
  border-radius: 3em;
  border: none;
}

.createPost .buttons .submit{
  background: var(--Gradient);
  color: var(--White);
}

.createPost .buttons .cancelBtn{
  background-color: var(--Porcelean);
}

/* Footer */

.footer_container{
  background-color: white;
  padding: 1em 8em;
  margin: 5em 0 0 0;
}

.mini_logo {
  height: 5em;
}

.rights_block {
  width: 35%;
}

.footer_nav {
  width: 65%;
  justify-content: center;
}

.footer_container, .footer_nav {
  display: flex;
  flex-direction: row;
}

.footer_nav div ul {
  margin-left: 25px;
}

/* Register */
.register_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 8em;
}

.register_container div {
  width: 70%;
}

div.title_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 70%;
}

/* Profile */
.profile_container {
  display: flex;
  flex-direction: column;
  margin: 0 25em !important;
  background-color: var(--White);
  border-radius: 25px;
  box-shadow: var(--Box-Shadow);
  min-height: 10em;
}

.profile_cover {
  width: 100%;
  border-radius: 25px 25px 0 0;
  height: 16em;
  object-fit: cover;
}

.profielfoto {
  border-radius: 50%;
  width: 12em;
  height: 12em;
  position: relative;
  bottom: 3em;
  left: 2em;
  object-fit: cover;
}

.profile_header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 2em;
  width: 90%;
  position: relative;
  bottom: 4em;
}

div.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 4em;
}

.profile_header div h2, .profile_header div h3 {
  margin: 0;
}

/* Profile */
.profile_part_one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 2em;
  width: 90%;
  margin-top: -8em;
}
 .over_mij {
  width: 50%;
 }

 .labels {
  width: 50%;
 }
 .labels div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.1em;
 }

 .bubble {
  padding-left: 0;
 }